{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Personal Profile{% endblock %}
{% block menu %}
    <nav class="navbar custom_nav navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="{% url 'webapp:index' %}">Home</a>
        <a class="new_review_btn" href="{% url 'accounts:user_detail' user_obj.pk %}">Back<span class="sr-only">(current)</span></a>
        <a class="new_review_btn" href="{% url 'accounts:user_update' user_obj.pk %}">Edit Profile<span class="sr-only">(current)</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
{% endblock %}
{% block content %}
    <h1 class="main_header">Change Password for: {{ user_obj.username }}</h1>
    <div class="form_container">
        <form action="{% url 'accounts:user_change_password' user_obj.pk %}" method="post">
            {% include 'partial/form.html' with button_text="Save" %}
        </form>
    </div>
{% endblock %}