{% extends 'base.html' %}
{% block title %}{{ user_obj.username }}{% endblock %}
{% block menu %}
    {% if user_obj == request.user %}
        <li><a class="custom_nav_btn" href="{% url 'accounts:user_update' user_obj.pk %}">Edit Profile<span class="sr-only">(current)</span></a></li>
        <li><a class="custom_nav_btn" href="{% url 'accounts:user_change_password' user_obj.pk%}">Change Password<span class="sr-only">(current)</span></a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <h1 class="main_header">Profile: {{ user_obj.username }}</h1>
    {% if user_obj.profile.avatar %}
        <div class="avatar_pic">
        <img src="{{ user_obj.profile.avatar.url }}" width="250" height="250" alt="user picture">
        </div>
    {% endif %}
    <p><b>First Name:</b> {{ user_obj.first_name }}</p>
    <p><b>Last Name:</b> {{ user_obj.last_name }}</p>
    <p><b>Email:</b> {{ user_obj.email }}</p>
    <p><b>About:</b> {{ user_obj.profile.about }}</p>
    <p><b>Git Hub:</b> {{ user_obj.profile.git_hub }}</p>
    <hr>
    <h2 class="issues_header mt-5"><b>User Reviews </b></h2>
        {% for review in user_obj.reviews.all %}
            <h5>Review for Product: {{ review.product }}</h5>
            <p>Review Text: <b>{{ review.text }}</b></p>
            <p>Given Rating: <b>{{ review.rating }}</b></p>
            <hr>
        {%endfor %}
{% endblock %}