{% extends 'base.html' %}
{% block title %}Delete Product{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
    <h1 class="delete_header">Are you sure you want to delete this Product?</h1>
    <div class="form_container d-flex">
        <form class="my_form mt-3" method="POST" action="{% url "webapp:product_delete" product.pk %}">
            {% csrf_token %}
            <p><input type="submit" class="btn btn-danger my_confirm" value="Confirm Delete"></p>
            <p class="p_cancel"><a  href="{% url 'webapp:index' %}" class="cancel btn btn-success btn-lg active" role="button" aria-pressed="true">Cancel</a></p>
        </form>
    </div>
{% endblock %}