{% extends 'base.html' %}
{% load staticfiles %}
{% block menu %}
{#        {% if perms.webapp.project_delete %}#}
{#             <li><a class="nav-link new_nav_btn" href="{% url 'webapp:project_delete' project.pk %}">Delete<span class="sr-only">(current)</span></a></li>#}
{#        {% endif %}#}
{#        {% if perms.webapp.project_update %}#}
{#            <li> <a class="nav-link new_nav_btn" href="{% url 'webapp:project_update' project.pk %}">Edit<span class="sr-only">(current)</span></a></li>#}
{#        {% endif %}#}
{% endblock %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
    <div>
    <h1 class="main_header">{{ product.name }}</h1>
    {% if product.image%}
        <div class="avatar_pic">
        <img src="{{ product.image.url }}" width="250" height="250" alt="product picture">
        </div>
    {% endif %}
    <p><b>Product name:</b> {{ product.name }}</p>
    <p><b>Category:</b> {{ product.category }}</p>
    <p><br>{{ product.description|escape|linebreaks }}</p>
    </div>
    <hr>
    <h2 class="issues_header"><b>Reviews: </b></h2>
    <div class="issue-list">
        {% for review in reviews %}
            <div class="issue">
                <a class="card_header_link" href="{% url 'webapp:review_view' review.pk %}"><h3>{{ review.author }}</h3>
                </a>
                <div class="pre">{{ review.text }}</div>
            </div>
        {% empty %}
            <p>Be the first one to leave a review!</p>
        {% endfor %}
    </div>
    <div class="project_issues_bottom_pagination">
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
        <hr>
        {% if request.user.is_authenticated %}
            <form action="" method="POST" id="add_review">
                {% include 'partial/form.html' with button_text='Add New Review' %}
            </form>
        {% endif %}
    </div>
{% endblock %}